@using PurchaseManagerCourseWork.Areas.Users.Controllers
@model IEnumerable<BOL.Purchase>

@{
    ViewBag.Title = "MyPurchases";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MPurchases</h2>
<script>
    function ConfirmDelete() {
        return confirm("Вы уверены, что хотите удалить покупку? Это действие нельзя будет отменить!");
    }
</script>
<p>
@if (ViewBag.Message != "")
{
    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">x</button>
        @ViewBag.Message
    </div>
}
    @Html.ActionLink("Create New", "Index", "AddPurchase")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pouch.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pouch.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Index", new { id = item.PurchaseId, controller = "PurchaseDetails" }) |
                @Html.ActionLink("Delete", "DeletePurchase", new { id = item.PurchaseId }, new {onclick = "return ConfirmDelete()"})
            </td>
        </tr>
    }

</table>
